/* ----------------------------- COLOR VARIABLESBELOW ----------------------------- */
:root {

  --nav-btn-hover-bg: #DDDDDD;
  --nav-btn-hover-color: #000000;

  --main-accent-color: #73d58c;
  --main-accent-hover-color:#3aad58;;
  --main-dark-color: #222831;
  --main-text-color: #ececec;

  --exp-bg-color: #FFFFFF;
  --exp-link-color: #006dcc;
  --exp-details-color: #90a4ae;;

}

/*-------- ADDING DARK THEME OPTION BELOW -----------*/

/* LIGHT COLOR PALETTE*/
:root {
  --bg-color: #EFEBE7;
  --surface-color: #F6F5F4;
  --font-color: #070D21;
  --primary-color: #1248A5;
  --secondary-color: #32856C;
  --links-color: #070D21;
}

/* DARK COLOR PALETTE*/
[data-theme="dark"] {
  --bg-color: #222A30;
  --surface-color: #333F48;
  --font-color: #DBE1E6;
  --primary-color: #F2CC8C;
  --secondary-color: #32856C;
  --links-color: #DBE1E6;
}


.theme-switch-wrapper {
  display: flex;
  align-items: center;
  align-self: center;
}
.theme-switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 45px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  font-size:90%;
}

.slider:before {
  /*background-color: #fff;*/
  bottom: 10px;
  content: "🌘";
  height: 11px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 8px;
}

input:checked + .slider {
  background-color: var(--secondary-color);
}

input:checked + .slider:before {
  transform: translateX(20px);
  content: "☀️";
}

.slider.round {
  border-radius: 14px;
}





/* ----------------------------- GENERAL CSS BELOW ----------------------------- */

html {
  overflow-y: overlay;
}

body {
  background-color: var(--bg-color);
}

nav {
  background-color: var(--surface-color);
}

/* Add a white background color to the top navigation */
.topnav {
  /* background-color: var(--primary-color); */
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav {
  float: left;
  text-align: center;
  text-decoration: none;
  border-radius: 4pt;
}

/* Change the color of links on hover */
.topnav :hover {
  background-color: var(--secondary-color);
  color: var(--nav-btn-hover-color);
}

/* Add a color to the active/current link */
.topnav.active {
  font-weight: bold;
}

/*h5:hover {
  color: var(--main-accent-hover-color);
}*/

h5 {
  color: var(--secondary-color);
}


.moreinfo {
  color: var(--exp-details-color);
}


html,
body,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  body, html, header {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0px;
  }
}


a {
  color: var(--links-color);
  -webkit-transition: all .2s;
  transition: all .2s
}


@media (min-width: 450px) {
  #intro-paragraph {
    width: 90%;
    margin: auto;
  }

  .moreinfo {
    width: 80%;
  }
}

/* ----------------------------- HOME PAGE CSS BELOW ----------------------------- */

.h1-home {
  letter-spacing: 4px;
  color: white;
}

.h5-home {
  letter-spacing: 3px;
  color: white;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

.button-home {
  border: 3px solid #fff;
  color: white;
}

.button-home:hover {
  background-color: #fff;
  /* color: #73d58c; */
  color: black;
}

button {
  background-color: var(--surface-color);
  color: var(--font-color);
}

button[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  border: var(--surface-color) solid 3px;
  border-radius: 4pt;
}
button[type="submit"]:hover {
  background-color: var(--secondary-color);
  border: var(--surface-color) solid 3px;
}

/*Typed text css section */
@media (min-width: 450px) { /*only type text on larger screens so it fits*/

  .typed-text-wrapper {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .typed-text {
    width: 14ch;
    /* width: 70vmin; */
    animation: typing 2s steps(14), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    /* font-family: monospace;
    font-size: 2em; */
    color: white;
    -webkit-animation-delay: 0.5s; /* Chrome, Safari, Opera */
    animation-delay: 0.5s;
  }

  @keyframes typing {
    from {
      width: 0
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

}
/*End of typed text css section*/

#contact-form {
  border: var(--primary-color) solid 3px;
  border-radius: 4pt;

  background-color: var(--surface-color);

  padding: 20pt 40pt 20pt 40pt;
  margin: 20pt 0pt 20pt 0pt;
}


#contact-form h2 {
  color: var(--primary-color);
}

/*#contact-form h2:hover {
  color: var(--main-accent-hover-color);
}*/

#contact-form button {
  margin: 0 auto;
  display: block;
  border-radius: 4pt;
}

#contacts {
  background-color: var(--surface-color);
  color: var(--font-color);
}

#contacts .contact-link {
  margin-bottom: 20px;
}

#intro-section {
  padding-top: 20pt;
}




/* ----------------------------- EXPERIENCE PAGE CSS BELOW ----------------------------- */

.main-body {
  width: 100%;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  background-color: var(--bg-color);
  color: var(--font-color);
}

.section-header {
  padding-top: 20px;
}

.hr2 {
  width: 25%;
  margin-left: 0px;
}

.hr3 {
  width: 35%;
  margin-left: 0px;
}

.subheader1 {
  color: var(--primary-color);
}

/*.subheader1:hover {
  color: var(--main-accent-hover-color);
}*/

.subheader1-link {
  color: var(--primary-color);
}

.subheader1-link:hover {
  color: var(--exp-link-color);
}

dt {
  font-weight: normal;
}

dd {
  color: var(--secondary-color);
}

