/* Add a white background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav {
  float: left;
  text-align: center;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav :hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav.active {
  font-weight: bold;
}

.hr2 {
  width: 25%;
  margin-left: 0px;
}
.hr3 {
  width: 35%;
    margin-left: 0px;
}

h5:hover {
  color: #3aad58;
}

.subheader1 {
  color: #73d58c;
}

.subheader1:hover {
  color: #3aad58;
}

.subheader1-link {
  color: #73d58c;
}

.subheader1-link:hover {
  color: #006dcc;
}

.primaryCard {
  background-color: #73d58c;
  border-color: #FFFFFF;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
}

.primaryCard :hover {
  background-color: #3aad58;
  border-color: #FFFFFF;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
}

dt {
  font-weight: normal;
}

dD {
  color: #90a4ae;
}

.moreinfo {
  color: #90a4ae;
}

body, html {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 30px;
}

.bg {
  background-image: url("assets/santi_suit_caltonhill.jpg");
  height: 50%;

  background-position: center;
  background-repeat: no-no-repeat;
  background-size: cover;
}

.main_body {
  margin-left: 30px auto;
  margin-right: 30px auto;
}

.colorSection {
  margin-left: -30px !important;
  margin-right: -30px !important;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #73d58c;
}

.subheaderColorSection {
  color: white;
}
