/* Add a white background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav {
  float: left;
  text-align: center;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav :hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav.active {
  font-weight: bold;
}

.hr2 {
  width: 25%;
  margin-left: 0px;
}

.subheader1 {
  color: #73d58c;
}

.primaryCard {
  background-color: #73d58c;
  border-color: #FFFFFF;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
}

.primaryCard :hover {
  background-color: #3aad58;
  border-color: #FFFFFF;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
}

.subheader1:hover {
  color: #3aad58;
}

.moreinfo {
  color: #90a4ae;
}

body {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 30px;
}
